
* {
    font-family: 'Sora', serif;

}
.navbar {
    margin-left: 30px;
    margin-right: 30px;
}
.home-img{
    padding-bottom: 10px;
}
html {
    scroll-behavior: smooth;
}

.navbar-brand {
    font-weight: bold;
}

#home-container-fluid {
    margin-top: 10%;
    margin-left: 30px;
    margin-right: 30px;
}

.summary-text {
    text-align: justify;
    color: rgb(102, 100, 100);
}

.social-icons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.social {
    border: 2px solid black;
    margin: 10px;
    border-radius: 3px;
    transition: box-shadow 0.3s ease-in-out;
}

.social:hover {
    box-shadow: 0 0 25px rgba(128, 128, 128, 0.7);
    cursor: pointer;
}

.skills-text {
    text-align: center;
}

.skills-container {
    margin-top: 5.5%;
    margin-bottom: 7.5%;
}

.skills-icon-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    width: 700px;
    margin-left: 22%;
    margin-top: 4%;
}

.skill-icon {
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: box-shadow 0.3s ease-in-out;
}

.skill-icon:hover {
    box-shadow: 0 0 25px rgba(128, 128, 128, 0.7);
    cursor: pointer;
}

.project-text {
    text-align: center;
}

.project-container {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    margin-top: 15%;
}

.black-hr {
    border: 1px solid black;
}

span {
    font-weight: 600;
}

.row {
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.project-img {
    border-radius: 10px;
}

.project-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-info-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.right-side-info-text {
    margin-right: 30px;
    text-align: justify;
}

.left-side-info-text {
    margin-left: 90px;
    text-align: justify;
}

.project-title-left {
    margin-left: 90px;
}

.Education-container {
    height: 120px;
    width: 400px;
    border: 2px solid gray;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
    background-color: black;
    color: white;
    margin-top: 8%;
    
}

.about-me-text {
    text-align: justify;
    font-size: 15px;
    margin-right: 50px;
    margin-top: 30px;
    color: rgb(102, 100, 100);
}

.hollow-text {
    font-weight: 600;
}

#bold-text {
    font-weight: bolder;
}

.light-text {
    font-weight: normal;
}

.input {
    width: 355px;
}

.input::placeholder {
    padding-left: 10px;
}

.social-icons-container-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#btn {
    background-color: black;
    color: white;
    border-radius: 2px;
    border: 1px solid black;
    padding: 9px;
}

.a {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.footer {
    background-color: black;
    color: white;
    text-align: left;
    height: 50px;
    padding-left: 100px;
    line-height: 0.5;
    padding-top: 8px;
    font-size: 14px;
}

.footer-part-text {
    color: rgb(102, 100, 100);
    font-size: 12px;
    text-align: left;
}



@media only screen and (max-width: 1200px) {

    * {
        font-family: 'Sora', serif;
    
    }
    .navbar {
        margin-left: 30px;
        margin-right: 30px;
    }
    .home-img{
        padding-bottom: 10px;
    }
    html {
        scroll-behavior: smooth;
    }
    
    .navbar-brand {
        font-weight: bold;
    }
    
    #home-container-fluid {
        margin-top: 10%;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .summary-text {
        text-align: justify;
        color: rgb(102, 100, 100);
    }
    
    .social-icons-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .social {
        border: 2px solid black;
        margin: 10px;
        border-radius: 3px;
        transition: box-shadow 0.3s ease-in-out;
    }
    
    .social:hover {
        box-shadow: 0 0 25px rgba(128, 128, 128, 0.7);
        cursor: pointer;
    }
    
    .skills-text {
        text-align: center;
    }
    
    .skills-container {
        margin-top: 5.5%;
        margin-bottom: 7.5%;
    }
    
    .skills-icon-container {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        width: 700px;
        margin-left: 22%;
        margin-top: 4%;
    }
    
    .skill-icon {
        height: 100px;
        width: 100px;
        box-sizing: border-box;
        border: 2px solid black;
        border-radius: 3px;
        padding: 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: box-shadow 0.3s ease-in-out;
    }
    
    .skill-icon:hover {
        box-shadow: 0 0 25px rgba(128, 128, 128, 0.7);
        cursor: pointer;
    }
    
    .project-text {
        text-align: center;
    }
    
    .project-container {
        height: 100%;
        width: 100%;
        background-color: black;
        color: white;
        margin-top: 15%;
    }
    
    .black-hr {
        border: 1px solid black;
    }
    
    span {
        font-weight: 600;
    }
    
    .row {
        padding-left: 100px;
        padding-top: 50px;
        padding-bottom: 30px;
    }
    
    .project-img {
        border-radius: 10px;
    }
    
    .project-img-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .project-info-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    
    .right-side-info-text {
        margin-right: 30px;
        text-align: justify;
    }
    
    .left-side-info-text {
        margin-left: 90px;
        text-align: justify;
    }
    
    .project-title-left {
        margin-left: 90px;
    }
    
    .Education-container {
        height: 120px;
        width: 400px;
        border: 2px solid gray;
        border-radius: 10px;
        padding-left: 20px;
        padding-top: 20px;
        background-color: black;
        color: white;
        margin-top: 8%;
        
    }
    
    .about-me-text {
        text-align: justify;
        font-size: 15px;
        margin-right: 50px;
        margin-top: 30px;
        color: rgb(102, 100, 100);
    }
    
    .hollow-text {
        font-weight: 600;
    }
    
    #bold-text {
        font-weight: bolder;
    }
    
    .light-text {
        font-weight: normal;
    }
    
    .input {
        width: 355px;
    }
    
    .input::placeholder {
        padding-left: 10px;
    }
    
    .social-icons-container-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    #btn {
        background-color: black;
        color: white;
        border-radius: 2px;
        border: 1px solid black;
        padding: 9px;
    }
    
    .a {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
    }
    
    .footer {
        background-color: black;
        color: white;
        text-align: left;
        height: 50px;
        padding-left: 100px;
        line-height: 0.5;
        padding-top: 8px;
        font-size: 14px;
    }
    
    .footer-part-text {
        color: rgb(102, 100, 100);
        font-size: 12px;
        text-align: left;
    }
}

/* Responsive Styles */
@media only screen and (max-width: 576px) {

    #home-container-fluid {
        margin: 5% 15px 0;
        flex-direction: column;
        text-align: center;
    }

    #bold-text{
        display: block;
    }

    .col-lg-6 {
        width: 100%;
        padding: 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .summary-text{
        font-size: 14px;
        word-spacing: 1px;
    }
    .home-img {
        /* margin: 0 auto; */
        width: 250px;
        height: 250px;
        margin-top: 30px;
    }

    .social-icons-container {
        justify-content: center;
    }

    .skills-icon-container {
        width: 250px;
    }

    .skills-container {
  
        width: calc(50% -5px);
    }

    .project-container {
        padding: 10% 0;
    }

    .project-img-container {
        order: -1;
        width: 100%;
        text-align: center;
    }

    .project-img{
        margin-left: 30px;
        margin-right: 8px;
    }

    .right-side-info-text,
    .left-side-info-text {
        margin: 0 -28px;
        text-align: justify;
        margin-left: -3px;
    }

    .project-title-left,
    .project-title-right {
        text-align: center;
        margin-left: 0;
        margin-top: 10px;

    }

    .light-text{
        margin-top: 25px;
    }

    .input {
        width: 100%;
        margin: 0 auto;
    }

    .footer {
        padding: 8px 15px;
        text-align: center;
    }

    .light-text {
        text-align: center;
    }

    .about-me-text {
        text-align: justify;
        margin-left: 30px;
    }

    h2 {
        text-align: center;
    }
    .Education-container{
        /* height: 120px; */
    /* width: 400px; */
    /* border: 2px solid gray; */
    border-radius: 10px;
    /* padding-left: 20px; */
    padding-top: 20px;
    background-color: black;
    color: white;
    margin-top: 8%;
    margin-left: 25px;
    width: 350px;
    }
    
    .mail-text{
        font-weight: 300;
        font-size: 14px;
    }
    .ph-no-text{
        font-weight: 300;
        font-size: 14px;
    }

}



/* Apply box-sizing to all elements */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Remove default margin and padding from body and html */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

/* Responsive adjustments */
@media only screen and (max-width: 576px) {
    #home-container-fluid, 
    .summary-text, 
    .project-container, 
    .skills-container, 
    .about-me-text,  
    .navbar, 
    .row, 
    .skills-icon-container {
        width: 100%;
        margin: 0;
        padding: 14px
    }
    .project-img{
        margin-left: 30px;
        margin-right: 8px;
    }

    /* Adjust skills-icon-container for 3 items per row */
    .skills-icon-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .skill-icon {
        flex: 1 1 calc(33.333% - 20px); /* 3 items per row */
        margin: 10px;
    }

    .about-me-text{
        margin-left: 20px;
        font-size: 14px;
    }

    .input{
        margin-left: 10px;
    }

    #btn{
        font-size: 11px;
    }
    .footer-part-text{
        margin-left: 25px;
    }

    .home-img {
        /* margin: 0 auto; */
        
        width: 250px;
        height: 250px;
        margin-top: 30px;
    }

    .a{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    }
    
    .mail-text{
        font-weight: 300;
        font-size: 14px;
    }
    .ph-no-text{
        font-weight: 300;
        font-size: 14px;
    }
}
